In [0]:
%run "/Workspace/Users/harshasunny98@gmail.com/databrics/day1/includes"

In [0]:
%sql
create table dev.harsha.ice_demo (id int, name string) using iceberg;

In [0]:
%sql 
DESCRIBE EXTENDED ice_demo

In [0]:
%sql
insert into dev.naval.emp values (7,"Harsha", "Hyderabad")

In [0]:
%sql 
desc history dev.naval.emp;

In [0]:
%sql
create table emp as select * from dev.naval.emp;

In [0]:
%sql
select * from dev.harsha.emp

In [0]:
%sql
desc history emp

In [0]:
%sql
desc detail emp

In [0]:
%sql
delete from emp where name = 'Ayush'

In [0]:
%sql
insert into emp values ("77", "Human", "Earth")